<h1>{{ title }}</h1>
<section class="form">
  <form (ngSubmit)="saveDistrict()" #formTask="ngForm">
    <div>Nome do distrito</div>
    <div>
      <input name="districtName" type="text" [(ngModel)]='districtValue.districtName'>
    </div>
    <div class="buttons">
      <button class="save" type="submit">Salvar</button>
      <button class="delete" type="button" (click)='removerDistrict(districtValue.id)'>Excluir</button>
      <button class="back" [routerLink]="['/districts']">Voltar</button>
    </div>
  </form>
</section>
