* {
  color: white;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.base {
  background-color: #161B22;
  text-align: center;
  width: 250px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.514));
}

.base div:first-child {
  margin-top: 85px;
  font-size: 30px;
}

.base .survivors div {
  color: #04D361;
}

.base .survivors p {
  color: grey;
}


.button {
  margin: 0 auto;
  text-align: center;

  margin-top: 20px;
}

button {
  width: 50%;
  background-color: #161B22;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: grey;
  border-radius: 4px;
}

button:hover,
button:focus,
.base:hover {
  filter: drop-shadow(0px 0px 20px #161B22);
  color: white;
  transition: 0.2s;
}


